/* General styles for the footer */
.footer {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    bottom: 0;
    left: 0;
    width: 100%;
}

/* Container for social media icons */
.fListImage {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 15px;
}

/* Style for social media links */
.fListImage a {
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Hover effect for social media links */
.fListImage a:hover {
    color: #000;
}

/* Style for the unordered list */
.fListItems {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

/* Style for each list item */
.fListItem {
    margin-bottom: 8px;
    color: #555;
    font-size: 14px;
}

/* Example hover effect for list items */
.fListItem:hover {
    color: #000;
    cursor: pointer;
}

/* Text at the Bottom */
.fText {
    color: #555;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}